*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center; 
}

div{
    width: 800px;
}

.heading{
    align-items: center;
    margin-left: 200px;
    padding-top: 50px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;

}