.searchResultContainer {
    overflow-y: scroll;
}

.searchContainer22 {
    margin-bottom: 1rem;
}

.searchContainer22 h3 {
    width: 5%;
}

.searchContainer22 div {
    width: 60%;
}

.topcoinsCardContainer a {
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 219, 219, 0.873);
    border: 1px solid red;
}